In [5]:
import pandas as pd

In [7]:
df1 = pd.read_csv("Municipal_Data_American_Community_Survey_2015_Community_and_Economic_Development.csv")

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 14 columns):
DCED Code 2012                                                         2561 non-null int64
Census Code                                                            2561 non-null int64
Municipality Type                                                      2561 non-null object
County Name                                                            2561 non-null object
Municipal Name                                                         2561 non-null object
Poplation, 2015                                                        2561 non-null int64
% Population 65+ Years Old, 2011-2015                                  2561 non-null float64
% Housing Units Vacant, 2011-2015                                      2561 non-null float64
% Homeowners (Owner-Occupied Housing Units), 2011-2015                 2561 non-null float64
Median Housing Values, 2011-2015                                       2551 non-null float64
% Persons 25+ Years Old with Bachelor's Degree or Higher. 2011-2015    2561 non-null float64
Median Household Income, 2011-2015                                     2553 non-null float64
Unemployment Rate, 2011-2015                                           2561 non-null float64
% Families Below Poverty Level, 2011-2015                              2559 non-null float64
dtypes: float64(8), int64(3), object(3)
memory usage: 280.2+ KB

In [10]:
df1.columns=df1.columns.str.replace(" ","_")

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 14 columns):
DCED_Code_2012                                                         2561 non-null int64
Census_Code                                                            2561 non-null int64
Municipality_Type                                                      2561 non-null object
County_Name                                                            2561 non-null object
Municipal_Name                                                         2561 non-null object
Poplation,_2015                                                        2561 non-null int64
%_Population_65+_Years_Old,_2011-2015                                  2561 non-null float64
%_Housing_Units_Vacant,_2011-2015                                      2561 non-null float64
%_Homeowners_(Owner-Occupied_Housing_Units),_2011-2015                 2561 non-null float64
Median_Housing_Values,_2011-2015                                       2551 non-null float64
%_Persons_25+_Years_Old_with_Bachelor's_Degree_or_Higher._2011-2015    2561 non-null float64
Median_Household_Income,_2011-2015                                     2553 non-null float64
Unemployment_Rate,_2011-2015                                           2561 non-null float64
%_Families_Below_Poverty_Level,_2011-2015                              2559 non-null float64
dtypes: float64(8), int64(3), object(3)
memory usage: 280.2+ KB

In [13]:
df1.head()

,DCED_Code_2012,Census_Code,Municipality_Type,County_Name,Municipal_Name,"Poplation,_2015","%_Population_65+_Years_Old,_2011-2015","%_Housing_Units_Vacant,_2011-2015","%_Homeowners_(Owner-Occupied_Housing_Units),_2011-2015","Median_Housing_Values,_2011-2015",%_Persons_25+_Years_Old_with_Bachelor's_Degree_or_Higher._2011-2015,"Median_Household_Income,_2011-2015","Unemployment_Rate,_2011-2015","%_Families_Below_Poverty_Level,_2011-2015"
0,10033,4200100116,Boro,Adams,Abbottstown Borough,943,10.7,4.9,78.1,146100.0,8.2,56641.0,10.9,4.2
1,10063,4200102928,Boro,Adams,Arendtsville Borough,910,7.8,8.5,61.8,166700.0,17.1,51700.0,3.5,17.6
2,10093,4200105536,Boro,Adams,Bendersville Borough,738,10.8,7.6,72.7,166200.0,13.7,57292.0,9.9,13.0
3,10125,4200105880,2nd Twp,Adams,Berwick Township,2229,20.4,5.7,84.0,154000.0,14.4,59286.0,3.1,9.8
4,10153,4200106296,Boro,Adams,Biglerville Borough,1195,17.6,3.2,57.5,173000.0,20.8,46923.0,4.5,11.2

In [14]:
df1.columns=df1.columns.str.replace("%_","").str.replace(",",'').str.replace("(","").str.replace(")",'').str.replace("+",'').str.replace(".",'').str.replace("'",'').str.replace("-",'_to_').str.lower()

In [18]:
df2=df1.groupby('county_name').poplation_2015.sum().to_frame()

In [23]:
df2.reset_index(inplace=True)

In [25]:
df2.to_csv("df2.csv",index=None)

In [26]:
df3=pd.read_csv("df2.csv")

In [28]:
df3.poplation_2015.median()

87895.0

In [30]:
df3.poplation_2015.describe()

count    6.700000e+01
mean     1.907397e+05
std      2.721498e+05
min      4.869000e+03
25%      4.383250e+04
50%      8.789500e+04
75%      2.111115e+05
max      1.555072e+06
Name: poplation_2015, dtype: float64

In [34]:
df3.poplation_2015.mean()

190739.68656716417

In [35]:
df3.poplation_2015.count()

67

In [36]:
df3.poplation_2015.std()

272149.8329043858